/* Universal Styles */
body {
    background-color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 86, 86);
}

button {
    background-color: darkgray;
    color: white;
    display: block;
    box-sizing: content-box;
    padding: 8px 0;
    font-size: 16px;
    margin: 24px 0;
    width: 100%;
}

h1, h2, h3, h4, p {
    color: rgb(54, 54, 54);
    text-align:left;
}


.ly_primarycontainer {
    display: flex;
    padding: 2rem 1.5rem;
    flex-direction: row;
}

.left-secondarycontainer {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 1.5rem;
}

.right-secondarycontainer {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow:1;
    flex-basis:content;
}

.ly_tertiarycontainer {
    display: flex;
    padding: 1rem;
}

.image-container {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    vertical-align: top;
}

 a {
     color: gray;
     text-decoration-line: none;
 }

.GrayColor {
    color: gray;
}

.centeralign {
    text-align: center;
}

/* Header Section */
.ly_header {
    width: 100%;
    height: 64px;
    padding: 0 24px 0 24px;
    position: fixed;
    z-index: 1;
}

header {
    padding: 0px;
    display:flex;
    align-items: center;
    background-color: white;
}

header .logo {
    display: flex;
    flex-direction: row;
}

.ele_logo {
    display: flex;
    height: 64px;
    align-items: center;
}

header .nav {
    text-align: right;
    flex-grow: 1;
}

.menu-item {
    list-style:none;
    display: inline-block;
    padding: 8px;
}

header .mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    header .desktop {
        display: none;
    }

    header .menu-group {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    .menu-item {
        width: auto;
        padding: 0;
        margin: 0;
    }
}

/* Start Section */
#startSec {
    background-color: rgb(212, 210, 210);
    position: relative;
    top: 64px;
}

#startSec .right-secondarycontainer {
    justify-content: center;
    width: 30rem;
}

button {
    background-color:#333333;
    padding:8px auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #startSec {
        background-color: rgb(219, 217, 217);
    }

    .ly_primarycontainer {
        display: block;
    }

    .left-secondarycontainer {
        display: block;
        width: 100%;
    }
}

/* Campus Section, Exhibition Section */

#campusSec {
    position: relative;
    background-color: white;
}

.ly_tertiarycontainer {
    padding: 16px;
    border:whitesmoke solid 1px;
    margin: 0px;
    display:flex;
    flex-direction: row;
}

.right-secondarycontainer .image-container {
    width: 35%;
    height: auto;
}

.right-secondarycontainer .content {
    width: 65%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hp_pad {
    padding: 8px 0;
}
.bluecolor {
    color: rgba(0, 89, 255, 0.596);
}

.guest-site, fisma-site {
    background-color: rgb(211, 211, 211);
}

.mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    #campusSec .left-secondarycontainer {
        width:0;
        display: none;
    }

    .ly_primarycontainer {
        display: flex;
        flex-direction: column;
    }

    .ly_tertiarycontainer {
        display: flex;
        flex-direction: column;
    }

    .right-secondarycontainer {
        width: 100%;
    }

    .right-secondarycontainer .image-container {
        width: 100%;
        height: auto;
    }
    
    .right-secondarycontainer .content {
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .guest-site {
        background-color: white;
    }
}


/* Learning Section */
#learningSec {
    position: relative;
    background-color: rgb(223, 217, 217);
    padding: 32px;
    text-align: center;
}

.ly-box-containers {
    display: flex;
    flex-wrap: wrap;
}

.ly-box-container {
    margin: 32px 16px;
    background-color: white;
    width: 30%;
}

.ly-middlebox-containers {
    display: block;
}

.ly-smallbox-containers {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    padding: 16px 0px 24px 16px;
}

#learningSec .hp_pad {
    padding: 8px 0;
}

#learningSec .mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    #learningSec {
        background-color: white;
        border:solid 1px rgb(211, 209, 209);
    }

    #learningSec .desktop {
        display: none;
    }
    .mobile {
        display:flex;
        flex-direction: column;
    }
    .panel {
        display:block;
        width: 100%;
        height: auto;
        background-color: rgb(189, 186, 186);
        padding: 1rem 0 1.5rem 1rem;
        text-align: left;
        margin-bottom: 8px;
    }


}


/* Exhibition Section */

#exhibitionSec {
    background-color: white;
    text-align: center;
    padding-top: 2rem;
}

.video-container {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.video-container video {
    max-width: 100%;

}

#exhibitionSec h3 {
    padding: 1.5rem 0 0.5rem 0;
}

@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }
}

/* Footer Section */
footer {
    border-top: 1px solid gray;
    padding: 16px 0 0 24px;
}